.DS_Store
.env

# #Log files - all of the files that has .log extension will be ignored and not commited.
# *.log

# #Text files - all of the files that has .txt extension will be ignored and not commited.
# *.txt